.element__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Group.svg);
  border: none;
  background-color: inherit;
}

.element__like:active {
  background-image: url(../../../images/LikeAllBlack.png);
}
