.profile__edit-button {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/EditButton.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;

  transform: translateY(10px);
}
