.profile__avatar-pic {
  max-width: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;

  object-fit: cover;
  position: relative;
}

.profile__avatar-pic:hover {
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .profile__avatar-pic {
    padding-top: 5px;
    padding-left: 2px;
  }
}
